<div class="container">
    <div @textOpen class="contactTitle">
        <p>Contact</p>
        <div class="bottomBorder" ></div>
    </div><br>
    <div @textOpen class="contactText" style="margin-left : 20px">
        <p>
            Wanna get in touch or talk about a project ? <br>
            Feel free to contact me via email at <br> <mat-icon>mail</mat-icon>&nbsp;
            <span class="mail">ramezzormati1998@gmail.com</span> <br> or call me on  <br>
            <mat-icon>phone</mat-icon>&nbsp;(+216) <span class="mail">50 300 654</span> 
        </p> 
    </div>
    
</div>