<nav class="sideNav " [class.hideSideNav]="this.hide" [class.showSideNav]="!this.hide"   @openSidenav>
    <div class="openBtn" (click)="hideBtn()"><mat-icon>{{(this.hide)?"menu":"keyboard_arrow_left"}}</mat-icon></div>
    <div class="logo">
     
        <p class="prenom">RAMEZ</p>

        <p class="nom">Z <br> O<br>R<br>M<br>A<br>T<br>I</p>
    </div>
    <div class="buttons" >
        <button  routerLink="/home" routerLinkActive="active" matTooltipPosition="right" routerLinkActive="activeBtn" matTooltip="Home"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>home</mat-icon>
        </button>

       
        <button routerLink="/information" routerLinkActive="active"matTooltipPosition="right" routerLinkActive="activeBtn"  matTooltip="Information"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>information</mat-icon>
        </button>
       
        <button routerLink="/projects" routerLinkActive="active"routerLinkActive="activeBtn"matTooltipPosition="right"  matTooltip="Projects"   mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>developer_mode</mat-icon>
        </button>
    
        <button routerLink="/contact" routerLinkActive="active"matTooltip="Contact"routerLinkActive="activeBtn"matTooltipPosition="right"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>mail</mat-icon>
        </button>
    </div>
    <div class="socialButtons " >
        <a href="https://www.facebook.com/ramez.zormati111/" target="_blank">
            <div class="socialIcon facebook">
                <i class='fab fa-facebook'></i>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/ramez-zormati-603166182/" target="_blank">
            <div class="socialIcon linkedIn">
                <i class='fab fa-linkedin'></i>
            </div>
        </a>
       
        <a href="https://github.com/Adenis98" target="_blank">
            <div class="socialIcon gitHub">
                <i class='fab fa-github'></i>
            </div>
    
        </a>
               
    </div>
</nav>