.aboutMeTitle{
    font-size: 35px;
    color : #ffdb98;
    padding-top: 100px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 50px;
    font-weight:100;
}

@media(max-width:480px){
    .aboutMeTitle{
        font-size: 25px;
        padding-top: 50px;
    }
}