<div class="container">
    <div @textOpen class="aboutMeTitle">
        <p>About Me </p>
        <div class="bottomBorder"></div>
    </div> <br> 
    <div class="row" style="margin-top: 20px;margin-bottom : 25px">
        <div class="col col-3-lg " style="text-align: center;">
            <img src="../../../assets/Ramez.jpg" class="ramezImg"alt="">
        </div>
        <div @textOpen class="col col-9-lg aboutText aboutMeText" style="margin-left : 20px">
            <p>
                I am a 23 year old developer, recently graduated from ISIMM, Tunisia.I'm passionate about programming and alaways eager to learn new technologies.
            </p>
        </div><br>
    </div>
   
    <div @textOpen class="aboutMeTitle">
        <p>Technologies </p>
        <div class="bottomBorder techWidth" ></div>
    </div> <br>
    <div @textOpen class="aboutText" style="margin-left : 20px">
        <p>
            I've worked with a range of technologies in the web and mobile development world.
        </p>
    </div>

    <div class="row" style="margin-top : 40px; margin-bottom : 30px">
        <div class="col linkedIn angular">
            <img src="../../../assets/techIcons/angular.png" width="190"alt="">
            <div class="aboutText " style="height: auto;">
                <p >
                    Angular
                </p>
            </div>

        </div>
        <div class="col spring">
            <img src="../../../assets/techIcons/springbooot.png" width="200"alt="">
            <div class="aboutText " style="height: auto;">
                <p >
                    Spring boot
                </p>
            </div>
        </div>
        <div class="col flutter">
            <img src="../../../assets/techIcons/flutter.png" width="200"alt="">
            <div class="aboutText " style="height: auto;">
                <p >
                    Flutter
                </p>
            </div>
        </div>
       
    </div>
</div>


