<div class="container">
    <div @textOpen class="aboutMeTitle">
        <p>About Me </p>
        <div class="bottomBorder"></div>
    </div> <br> 
    <div class="row" style="margin-top: 20px;margin-bottom : 25px">
        <div class="col col-3-lg " style="text-align: center;">
            <img src="../../../assets/Ramez.jpg" class="ramezImg"alt="">
        </div>
        <div @textOpen class="col col-9-lg aboutText aboutMeText" style="margin-left : 20px">
            <p>
                I am a 23 year old developer, recently graduated from ISIMM, Tunisia.I'm passionate about programming and alaways eager to learn new technologies.
            </p>
        </div><br>
    </div>
   
    <div @textOpen class="aboutMeTitle">
        <p>Technologies </p>
        <div class="bottomBorder techWidth" ></div>
    </div> <br>
    <div @textOpen class="aboutText" style="margin-left : 20px">
        <p>
            I've worked with a range of technologies in the web and mobile development world.
        </p>
    </div><br>
</div>


