*{
    user-select: none ;
}
.ma{
    padding-top : 12%;
    padding-bottom : 12%
}
.myLogo{
    max-width : 250px;
    margin:auto ; 
    position: absolute;
    bottom : 7px;
    right: 7px;
}
.intro{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 300;
    line-height: 130px;
    letter-spacing: 5px;
    position:relative;
    height: 100%;
}
.myName{
    font-weight: 400;
    color : #81590f ; 
    transition: all 0.3s;
}
.myName:hover {
    color: #d3a85a;
    cursor : pointer ;
    font-size: 60px;
}
.details{
    font-size: 35px;
    color : rgb(214, 200, 173)
}
@media(max-width:780px){
    .intro{
        line-height: 85px;
    }
    .myLogo{
        display: none;
    }
    .intro{
        font-size: 35px;
    }
    .details{
        font-size: 25px;
    }
    .myName:hover {
        font-size: 40px;
    }
}
@media(max-width:500px){
    .myLogo{
        display: none;
    }
}

@media(max-height:650px){
    .intro{
        line-height: 85px;
    }
}