
<meta name="google-site-verification" content="E7NBOE5yS3sPtX-2-2V5ol0MLtAJj2Iv5QFtUmBD-78" />
<div class="container ma">
    
    <img src="../../../assets/RAMEZ.png" class="myLogo" alt="">
    <div class="row">
        <div class="col">
           <p @createIntro class="intro ">Welcome to My Personal Portfolio ,
               <br>I'm  <span class="myName">RAMEZ ZORMATI </span> <br>
                <span class="details">a Full stack developer
                </span></p> 
        </div>
    </div>
</div>