
<div class="container ma">
    
    <img src="../../../assets/RAMEZ.png" class="myLogo" alt="">
    <div class="row">
        <div class="col">
           <p @createIntro class="intro ">Welcome to My Personal Portfolio ,
               <br>I'm  <span class="myName">RAMEZ ZORMATI </span> <br>
                <span class="details">a Full stack web 
                    <mat-icon>computer</mat-icon> and mobile <mat-icon>phone_iphone</mat-icon> developer
                </span></p> 
        </div>
    </div>
</div>