<div class="container pageBody">
    <div @textOpen class="projectsTitle">
        <p >
            Here are some of my best projects during the last 4 years 
        </p>
    </div>
    
    <br>
    <div class="row">
        <div class="col">
            <mat-card @createCard class="example-card">
                <mat-card-header>
                    <div mat-card-avatar matic class="example-header-image">
                        <mat-icon mat-card-avatar>computer</mat-icon>
                    </div>
                    <mat-card-title>Portail Agent/Stock </mat-card-title>
                    <mat-card-subtitle>Web App <br><span class="year">(2021)</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <div mat-card-image class="cardImage webLogin">

                </div>
               <!-- <img class="cardImage webLogin" mat-card-image src="../../../assets/projects/web login.png"
                    alt="Photo of portail login">-->
                <mat-card-content>
                    <p>
                        This is my End of studies project (web version),Car spare parts order management portalCar spare parts order management portal. <br>
                        which was made using
                        <span class="angular">
                            <i class="fab fa-angular"></i>
                        </span> Angular,
                        <span class="spring">
                            <i class="fas fa-power-off"></i>
                        </span>&nbsp;Spring boot & Mysql .
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://drive.google.com/file/d/11Sorp7AzoRPPGlVFPAJsmgQrClLXJmie/view" target="\#blank">
                        <button mat-button>V I D E O &nbsp; L I N K</button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card @createCard class="example-card">
                <mat-card-header>
                    <div mat-card-avatar matic class="example-header-image">
                        <mat-icon mat-card-avatar>computer</mat-icon>
                    </div>
                    <mat-card-title>Binco</mat-card-title>
                    <mat-card-subtitle>Web App  <br><span class="year">(2021)</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <div mat-card-image class="cardImage binco">

                </div>
                
                <mat-card-content>
                    <p>
                        This is a university project : online clothing sales website. <br>
                        which was made using Php , Js , Html , css , Mysql and Bootstrap
                        
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://github.com/Adenis98/projet-web-dynamique" target="_#blank"><button mat-button>
                        S O U R C E &nbsp; C O D E
                    </button></a>
                    
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-card  @createCard class="example-card">
                <mat-card-header>
                    <div mat-card-avatar matic class="example-header-image">
                        <mat-icon mat-card-avatar>computer</mat-icon>
                    </div>
                    <mat-card-title>Ramez Shop </mat-card-title>
                    <mat-card-subtitle>Web App  <br><span class="year">(2018)</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <div mat-card-image class="cardImage ramezShop">

                </div>
               
                <mat-card-content>
                    <p>
                        This is a university static web project : online clothing sales website. <br>
                        which was made using Html , css and bootstrap
                        
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://github.com/Adenis98/Ramez-Shop-projet-web-statique" target="_#blank"><button mat-button>
                        S O U R C E &nbsp; C O D E
                    </button></a>
                    
                    
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card @createCard class="example-card">
                <mat-card-header>
                    <div mat-card-avatar matic class="example-header-image">
                        <mat-icon mat-card-avatar>phone_iphone</mat-icon>
                    </div>
                    <mat-card-title>Portail Agent/Stock </mat-card-title>
                    <mat-card-subtitle>Mobile App  <br><span class="year">(2021)</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <div mat-card-image class="cardImage portailFlutter">

                </div>
               

                <mat-card-content>
                    <p>
                        This is my End of studies project (Mobile version),Car spare parts order management portal. <br>
                        which was made using Flutter .
                    </p>
                </mat-card-content>
                <mat-card-actions>

                    <button mat-button>
                        S O U R C E &nbsp; C O D E
                    </button>&nbsp;
                    <a  >
                        <button mat-button>V I D E O &nbsp; L I N K</button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-card  @createCard class="example-card">
                <mat-card-header>
                    <div mat-card-avatar matic class="example-header-image">
                        <mat-icon mat-card-avatar>phone_iphone</mat-icon>
                    </div>
                    <mat-card-title>Stump escape the moving bar </mat-card-title>
                    <mat-card-subtitle>Mobile Game  <br><span class="year">(2019)</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <div mat-card-image class="cardImage stump">

                </div>
               


                <mat-card-content>
                    <p>
                        This is a one tap game concept  : you have to avoid obstacles to get the best score, <br>
                        which was made using Unity3d and C# .
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    
                    <a href="https://drive.google.com/file/d/1mELL507v-qZ6612GXXAB2WFQ24QUjS50/view?usp=sharing" target="_#blank">
                        <button mat-button>
                            A P K &nbsp; L I N K
                        </button>&nbsp;
                    </a>
                    
                    <a href="https://www.youtube.com/watch?v=iosMwJKw3vo" target="\#blank">
                        <button mat-button>V I D E O &nbsp; L I N K</button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card @createCard class="example-card">
                <mat-card-header>
                    <div mat-card-avatar matic class="example-header-image">
                        <mat-icon mat-card-avatar>computer</mat-icon>
                    </div>
                    <mat-card-title>One Click Production </mat-card-title>
                    <mat-card-subtitle>Desktop app <br><span class="year">(2020)</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <div mat-card-image class="cardImage oneClick">

                </div>
                
                <mat-card-content>
                    <p>
                        It's a university project : management of a production company named OneClick Production. <br>
                        which was made using Java and Mysql and recreated with Vb.net and Microsoft Access
                        
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://github.com/Adenis98/Gestion-d-une-boite-de-production-java" target="_#blank"><button mat-button>
                        J A V A &nbsp;  S O U R C E &nbsp; C O D E
                    </button></a>
                    <a href="https://github.com/Adenis98/Gestion-d-une-boite-de-production-vb.net" target="_#blank"><button mat-button>
                        V B . N E T &nbsp;  S O U R C E &nbsp; C O D E
                    </button></a>
                    <a href="https://www.youtube.com/watch?v=7XvJhB-3m64" target="\#blank">
                        <button mat-button>V I D E O &nbsp; L I N K</button>
                    </a>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>